.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      padding: 5px;
      margin: 15px 0;
    }
  }
}
